// Footer
footer.footer
  .container.section__container
    
    // Seo
    .seo
      .seo__header Seo текст
      .seo__body
        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
        p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
        p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
        p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
        p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
        p Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).

    .footer__center
      div
        .footer__logo
          div(data-letter="c")
          div(data-letter="r")
          div(data-letter="a")
          div(data-letter="b")
          div(data-letter="s")
          | .Crabs
      div
        .footer__contacts
          .footer__contacts-block
            div Контакты
            div
              a(href="mailto:info@crabs.online") info@crabs.online
          
          .footer__contacts-block
            div Соцсети
            div
              .social.footer__social
                a(href="#!" target='_blank')
                  i.icon-facebook
                a(href="#!" target='_blank')
                  i.icon-telegram
                a(href="#!" target='_blank')
                  i.icon-google-plus
                a(href="#!" target='_blank')
                  i.icon-twitter
                a(href="#!" target='_blank')
                  i.icon-instagram

        nav.footer__navigation
          ul
            li: a(href="#!") Главная
            li: a(href="#!") О нас
            li: a(href="#!") Услуги
            li: a(href="#!") Портфолио
            li: a(href="#!") Наши клиенты
            li: a(href="#!") отзывы
            li: a(href="#!") контакты
  
    .footer__bottom
      ul.footer__links
        li: a(href="mailto:report@crabs.online") report@crabs.online
        li: a(href="#!") Privacy Policy
      
      .footer__copyright © 2019 crabs. All Rights Reserved

a.body__up(data-scroll href="#body")

#feedback.modal.mfp-hide
  button(type="button").modal__close Закрыть
  .modal__wrapper
    .modal__title Связаться с нами
    .modal__container
      form.modal__form(action="#!" method="post")
        fieldset
          .form__group
            label.form__label Ваше имя:
            input#modal_name.form__field(type="text" name="modal_name" value="Андрей " autofocus)
          .form__group
            label.form__label Ваш Email:
            input#modal_email.form__field(type="email" name="modal_email")
          .form__group
            label.form__label Ваше сообщение:
            textarea#modal_message.form__field(name="modal_message") Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев  ...
        button.btn(type="button") Отправить