doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Crabs Agency' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    #section1.section.home
      .container
        .section__text.section__text--one Crabs

        .home__title
          b Crabs
          span agency

        .home__wrapper
          div
            .home__slogan создание и продвижение диджитал продуктов
          div
            .home__content
              p Закажите просчет на сайт сегодня и получите одну из дополнительных услуг бесплатно*
              a(href="#!").more.home__content-more заявка на просчет
      

    a.section-btn(data-scroll href="#section2")
      span

    #section2.section.about
      .container.section__container
        .section__text.section__text--two Crabs

        .section__header
          small Мы мощная команда фриансеров
          .h2 Crabs это команда 
            span.color--add1 UI/UX 
            | специалистов и маркетологов

        .about__wrapper
          div
            .about__slogan Создаем и продвигаем
          div
            .about__content
              p Мы мощная команда фриансеров, тоесть клиенту не нужно доплачивать за наш комфорт, команда лучших, команда для тех, кто наработался в компаниях знает все подводные камни и готов работать на результат.
              p Мы мощная команда фриансеров, тоесть клиенту не нужно доплачивать за наш комфорт, команда лучших.
              p
                a(href="#!").more Подробнее

    #section3.section.services
      .container.section__container
        .section__text.section__text--three услуги

        .section__header
          .h2 Мы предоставляем широкий спектр услуг

        .services__wrapper
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-1
              a(href="#!").services__block-title Создание и 
                br
                | разработка сайта
              .services__block-more Подробнее
                
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-2
              a(href="#!").services__block-title Графический/веб дизайн
              .services__block-more Подробнее
              
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-3
              a(href="#!").services__block-title Продвижение 
                br
                | сайта
              .services__block-more Подробнее
                
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-4
              a(href="#!").services__block-title Настройка 
                br
                | рекламы
              .services__block-more Подробнее

          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-5
              a(href="#!").services__block-title Фото/видео
                br
                | продакшн
              .services__block-more Подробнее
                
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-6
              a(href="#!").services__block-title Создание сайтов на конструкторе
              .services__block-more Подробнее
              
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-7
              a(href="#!").services__block-title Продвижение личного бренда
              .services__block-more Подробнее
                
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img
                i.icon-service-8
              a(href="#!").services__block-title Продвижение в социальных сетях
              .services__block-more Подробнее

        .services__footer
          div
            a(href="#!").more заявка на просчет
          div
            a(href="#!").more.more--add1 смотреть наши работы


    #section4.section.projects
      .container.section__container

        .section__header
          .h2 Проекты от команды Crabs / портфолио от наших специалистов

    #section4.section
      p 4

    #section5.section
      p 5

    #section6.section
      p 6

    a.section-btn(data-scroll href="#section6")
      span

    #section7.section
      p 7


    include ./_include/_footer
    div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

