doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Crabs Agency' //title страницы для генерации верстки

  include ./_include/_head

  body#body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    #section1.section.home
      #home__container.container.section__container
        .section__text.section__text--1 Crabs 
        
        .home__title
          b Crabs
          span agency

        .home__wrapper
          div
            .home__slogan создание и продвижение диджитал продуктов
          div
            .home__content
              p Закажите просчет на сайт сегодня и получите одну из дополнительных услуг бесплатно*
              a(href="#feedback").more.home__content-more.open-popup-link заявка на просчет

    a#section-btn1.section-btn.section-btn--one(data-scroll href="#section2")
      span
        span
          span

    #section2.section.about
      #about__container.container.section__container
        .section__text.section__text--2 Crabs

        .section__header
          small Мы мощная команда фрилансеров
          .h2 Crabs это команда 
            span.color--add1 UI/UX 
            | специалистов и маркетологов

        .about__wrapper
          div
            .about__slogan Создаем и продвигаем
          div
            .about__content
              p Мы мощная команда фрилансеров, то есть клиенту не нужно доплачивать за наш комфорт, команда лучших, команда для тех, кто наработался в компаниях знает все подводные камни и готов работать на результат.
              p Мы мощная команда фрилансеров, то есть клиенту не нужно доплачивать за наш комфорт, команда лучших.
              p
                a(href="#!").more Подробнее

    #section3.section.services
      #services__container.container.section__container
        .section__text.section__text--3 услуги

        .section__header
          .h2 Мы предоставляем широкий спектр услуг

        mixin servicesBlock(name, icon)
          .services__block
            .services__block-line1
            .services__block-line2
            .services__block-line3
            .services__block-line4
            .services__block-line5
            .services__block-content
              .services__block-img!= icon
              a(href="1-service.html").services__block-title!= name
              .services__block-more Подробнее

        .services__wrapper
          +servicesBlock('Создание и <br>разработка сайта', '<i class="icon-service-1"></i>')
          +servicesBlock('Графический/веб дизайн', '<i class="icon-service-2"></i>')
          +servicesBlock('Продвижение <br>сайта', '<i class="icon-service-3"></i>')
          +servicesBlock('Настройка <br>рекламы', '<i class="icon-service-4"></i>')
          +servicesBlock('Фото/видео <br>продакшн', '<i class="icon-service-5"></i>')
          +servicesBlock('Создание сайтов на конструкторе', '<i class="icon-service-6"></i>')
          +servicesBlock('Продвижение личного бренда', '<i class="icon-service-7"></i>')
          +servicesBlock('Продвижение в социальных сетях', '<i class="icon-service-8"></i>')

        .services__footer
          div
            a(href="#feedback").more.open-popup-link заявка на просчет
          div
            a(href="portfolio.html").more.more--add1 смотреть наши работы

    #section4.section.projects
      .container.section__container
        .section__text.section__text--4 проекты

        .section__header.section__header--projects
          .h2 Проекты от команды Crabs / портфолио от наших специалистов

        ul.nav.projects__nav#projectsTab(role='tablist')
          li.projects__nav-item
            a.projects__nav-link.active#1-tab(data-toggle='tab' href='#tab1' role='tab' aria-controls='tab1' aria-selected='true') Все 
              span.color--add1 (53)
          li.projects__nav-item
            a.projects__nav-link#2-tab(data-toggle='tab' href='#tab2' role='tab' aria-controls='tab2' aria-selected='false') Сайты 
              span.color--add1 (78)
          li.projects__nav-item
            a.projects__nav-link#3-tab(data-toggle='tab' href='#tab3' role='tab' aria-controls='tab3' aria-selected='false') Seo 
              span.color--add1 (22)
          li.projects__nav-item
            a.projects__nav-link#4-tab(data-toggle='tab' href='#tab4' role='tab' aria-controls='tab4' aria-selected='false') Продакшн 
              span.color--add1 (34)

      .tab-content
        .tab-pane.fade.active.show#tab1(role='tabpanel' aria-labelledby='1-tab')
          mixin projectsBlock(name, description, img)
            .projects__block
              .container.section__container
                .projects__block-wrapper
                  .projects__block-text
                    .projects__block-title= name
                    .projects__block-description= description
                    a(href="1-project.html").more Подробнее
                    a(href="portfolio.html").btn.projects__btn Посмотреть все
                  picture.projects__block-img
                    source(srcset= img + '.webp', type="image/webp")
                    source(srcset= img + '.jpg', type="image/jpeg")
                    img(data-lazy= img + '.jpg', alt="")

          .projects__carousel
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')

        .tab-pane.fade#tab2(role='tabpanel' aria-labelledby='2-tab')
          .projects__carousel
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')

        .tab-pane.fade#tab3(role='tabpanel' aria-labelledby='3-tab')
          .projects__carousel
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')

        .tab-pane.fade#tab4(role='tabpanel' aria-labelledby='4-tab')
          .projects__carousel
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
            +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')

    #section5.section.achievements
      .container.section__container
        .section__text.section__text--5 достижения

        .section__header.section__header--achievements
          .h2 Наши достижения

        .achievements__wrapper.achievements__wrapper--main
          .achievements__block
            .achievements__block-number(data-shadow="84") 
              span _ 
              | 84
            .achievements__block-text Реализованных сайта
          .achievements__block
            .achievements__block-number(data-shadow="67") 
              span _ 
              | 67
            .achievements__block-text Успешных компаний по продвижению
          .achievements__block
            .achievements__block-number(data-shadow="143") 
              span _ 
              | 143
            .achievements__block-text Успешных компаний по продвижению

    #section6.section.clients
      .container.section__container
        .section__text.section__text--6 клиенты

        .section__header.section__header--clients
          .h2 Наши клиенты

        mixin clientBlock(img)
          picture.clients__block
            source(srcset= img + '.webp', type="image/webp")
            source(srcset= img + '.png', type="image/png")
            img(alt="" data-src= img + '.png').lazyload

        .clients__wrapper
          +clientBlock('./tmp/client-img-1')
          +clientBlock('./tmp/client-img-2')
          +clientBlock('./tmp/client-img-3')
          +clientBlock('./tmp/client-img-1')
          +clientBlock('./tmp/client-img-1')
          +clientBlock('./tmp/client-img-2')
          +clientBlock('./tmp/client-img-3')
          +clientBlock('./tmp/client-img-1')

    a#section-btn6.section-btn(data-scroll href="#section7")
      span
        span
          span

    #section7.section.request
      .container.section__container

        .request__block
          .request__block-icon
            i.icon-service-9
          .request__block-content
            p Закажите просчет на проект сегодня и получите одну из дополнительных услуг* бесплатно
            a(href="#feedback").more.open-popup-link  заявка на просчет

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

