doctype

html(lang="ru")

  -var active = 'Портфолио' //активный пункт меню, список в header.jade
  -var pageTitle = 'Портфолио' + ' - Crabs Agency' //title страницы для генерации верстки

  include ./_include/_head

  body#body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    #section9.section.section--top
      .container.section__container
        .section__text.section__text--7 портфолио

        .section__header.section__header--big
          .h1 Портфолио

        ul.nav.projects__nav#projectsTab(role='tablist')
          li.projects__nav-item
            a.projects__nav-link.active#1-tab(data-toggle='tab' href='#tab1' role='tab' aria-controls='tab1' aria-selected='true') Все 
              span.color--add1 (53)
          li.projects__nav-item
            a.projects__nav-link#2-tab(data-toggle='tab' href='#tab2' role='tab' aria-controls='tab2' aria-selected='false') Сайты 
              span.color--add1 (78)
          li.projects__nav-item
            a.projects__nav-link#3-tab(data-toggle='tab' href='#tab3' role='tab' aria-controls='tab3' aria-selected='false') Seo 
              span.color--add1 (22)
          li.projects__nav-item
            a.projects__nav-link#4-tab(data-toggle='tab' href='#tab4' role='tab' aria-controls='tab4' aria-selected='false') Продакшн 
              span.color--add1 (34)

        #tab-content.tab-content.tab-content--portfolio
          .tab-pane.fade.active.show#tab1(role='tabpanel' aria-labelledby='1-tab')
            mixin projectsBlock(name, description, img)
              .projects__block.projects__block--list
                .projects__block-wrapper
                  .projects__block-text
                    .projects__block-title= name
                    .projects__block-description= description
                    a(href="1-project.html").more Подробнее
                  .projects__block-img
                    a(href="1-project.html")
                      picture
                        source(srcset= img + '.webp', type="image/webp")
                        source(srcset= img + '.jpg', type="image/jpeg")
                        img(src= img + '.jpg', alt="")

            .projects__list
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')

            .projects__footer
              div
                button(type="button").btn Показать еще
              div
                a(href="#feedback").more.open-popup-link заявка на просчет

          .tab-pane.fade#tab2(role='tabpanel' aria-labelledby='2-tab')
            .projects__list
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
            .projects__footer
              div
                button(type="button").btn Показать еще
              div
                a(href="#feedback").more.open-popup-link заявка на просчет

          .tab-pane.fade#tab3(role='tabpanel' aria-labelledby='3-tab')
            .projects__list
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            .projects__footer
              div
                button(type="button").btn Показать еще
              div
                a(href="#feedback").more.open-popup-link заявка на просчет

          .tab-pane.fade#tab4(role='tabpanel' aria-labelledby='4-tab')
            .projects__list
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
              +projectsBlock('Nowy Styl', 'промо-сайт', './tmp/portfolio-3-big')
              +projectsBlock('Adidas', 'промо-сайт', './tmp/portfolio-1-big')
              +projectsBlock('Nike', 'промо-сайт', './tmp/portfolio-2-big')
            .projects__footer
              div
                button(type="button").btn Показать еще
              div
                a(href="#feedback").more.open-popup-link заявка на просчет


    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

