doctype

html(lang="ru")

  -var active = 'Услуги' //активный пункт меню, список в header.jade
  -var pageTitle = 'Услуги' + ' - Crabs Agency' //title страницы для генерации верстки

  include ./_include/_head

  body#body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    #section10.section.services.section--top
      .container.section__container
        .section__text.section__text--8 услуги

        .section__header.section__header--services-inside.section__header--big
          .h1 Наши услуги
        
        mixin servicesRow(name, icon, number)
          .services__row
            .services__row-line1
            .services__row-line2
            .services__row-line3
            .services__row-line4
            .services__row-line5
            .services__row-img!= icon
            .services__row-content
              .services__row-title
                a(href="1-service.html")!= name
              p Команда для тех, кто наработался в компаниях знает все подводные камни и готов работать на результат.
              .services__row-footer
                div
                  .services__row-numbers
                    div
                      strong= number
                    div Реализовано
                      br
                      | проектов
                div
                  a(href="1-service.html").services__row-more Подробнее

        .services__wrapper.services__wrapper--inside
          div
            +servicesRow('Создание и разработка сайта', '<i class="icon-service-1"></i>', '25+')
          div
            +servicesRow('Продвижение сайта', '<i class="icon-service-2"></i>', '87+')
          div
            +servicesRow('Настройка рекламы', '<i class="icon-service-3"></i>', '73+')
          div
            +servicesRow('Графический/веб дизайн', '<i class="icon-service-4"></i>', '54+')
          div
            +servicesRow('Фото/видео продакшн', '<i class="icon-service-5"></i>', '25+')
          div
            +servicesRow('Продвижение личного бренда', '<i class="icon-service-6"></i>', '32+')
          div
            +servicesRow('Создание сайтов на конструкторе', '<i class="icon-service-7"></i>', '67+')
          div
            +servicesRow('Продвижение в социальных сетях', '<i class="icon-service-8"></i>', '46+')

        .services__footer
          div
            a(href="#feedback").more.open-popup-link заявка на просчет
          div
            a(href="portfolio.html").more.more--add1 смотреть наши работы


    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

