/* modules */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    position: relative;
    z-index: 15;
    height: 1px;
    // background: pink;
    margin-left: 68px;
    text-transform: lowercase;
    color: #212121;
    margin-bottom: 145px;
    &>* {
      line-height: 1;
      position: absolute;
    }
    b {
      color: transparent;
      font-size: 310px;
      -webkit-text-stroke: 4px $add-color-1;
      bottom: -51px;
      // text-shadow: 0px 0px 50px rgba($add-color-1,.1);
      animation: neon1 1.5s ease-in-out infinite alternate;
    }
    span {
      font-size: 150px;
      -webkit-text-stroke: 3px $add-color-2;
      top: -45px;
      margin-left: 43px;
      z-index: 5;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 15;
    margin-left: 113px;
  }
  &__slogan {
    font-size: 18px;
    line-height: 22px;
    color: $color-white;
  }
  &__content {
    max-width: 370px;
    color: $add-color-1;
    font-size: 14px;
    &-more {
      margin-left: 30px;
    }
  }
}

.more {
  display: inline-block;
  padding-left: 87px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: $add-color-2;
  &::before {
    content: '';
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: 2px;
    width: 47px;
    background: $add-color-2;
  }
  &:hover {
    @include neon($add-color-2, 1, text);
  }
  &--add1 {
    color: $add-color-1;
    &::before {
      background: $add-color-1;
    }
    &:hover {
      color: $add-color-1;
      @include neon($add-color-1, 1, text);
    }
  }
}

.about {
  min-height: inherit;
  padding: 255px 0 180px 0;
  &::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%231C1C1C' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 56px;
  }
  &__slogan {
    color: $color-white;
    line-height: 1.6;
  }
  &__content {
    font-weight: 400;
    max-width: 670px;
    p {
      &:first-child {
        &:first-letter {
          font-size: 60px;
          font-weight: bold;
          line-height: 1.3;
          color: $add-color-2;
          float: left;
          margin-right: 12px;
          margin-bottom: -20px;
        }
      }
      &:last-child {
        padding-top: 18px;
        margin-bottom: 0;
      }
    }
  }
}

.services {
  background-color: #171717;
  &::after, &::before {
    display: none;
  }
  &:not([class*="section--top"]) {
    min-height: inherit;
    padding: 138px 0 180px 0;
    background-color: #1C1C1C;
    &::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
      background-size: inherit;
      background-position: bottom center;
      display: block;
    }
    &::after {
      background: repeating-linear-gradient(90deg,rgba($color-white,.1) 0px,rgba($color-white,.1) 1px,rgba($color-black,0) 0px,rgba($color-black,0) 359px);
      background-position: 50% 100%;
      background-size: 359px 100%;
      mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
      mask-position: bottom center;
      display: block;
    }
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--inside {
      margin: 0 -15px;
      padding-bottom: 30px;
      &>div {
        padding: 0 15px;
        width: 50%;
      }
    }
  }
  &__block {
    width: 240px;
    height: 438px;
    position: relative;
    border-left: 22px solid transparent;
    font-size: 18px;
    [class*="-line"] {
      position: absolute;
      background: $add-color-2;
      transition-duration: 0.15s;
    }
    [class*="-line1"], [class*="-line3"] {
      width: 0;
      height: 5px;
      transition-property: width;
    }
    [class*="-line2"], [class*="-line4"], [class*="-line5"] {
      height: 0;
      width: 5px;
      transition-property: height;
    }
    [class*="-line1"] {
      left: 0;
      top: 0;
      transition-delay: 0.6s;
    }
    [class*="-line2"] {
      top: 0;
      right: 0;
      transition-delay: 0.45s;
    }
    [class*="-line3"] {
      bottom: 0;
      right: 0;
      transition-delay: 0.30s;
    }
    [class*="-line4"] {
      left: 0;
      bottom: 0;
      transition-delay: 0.15s;
    }
    [class*="-line5"] {
      bottom: 301px;
      left: 0;
      transition-delay: 0s;
    }
    &-content {
      margin-left: -22px;
    }
    &-img {
      transition: all 0.35s;
      color: $add-color-1;
      font-size: 90px;
      padding-bottom: 25px;
      margin-bottom: 15px;
      position: relative;
      // transition-delay: 0.15s;
      &::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 1px;
        left: 0;
        bottom: 0;
        background: $add-color-1;
        transition: background 0.35s;
      }
      i {
        display: block;
        @include neon($add-color-1,0.5,text)
      }
    }
    &-title {
      color: $color-white;
      text-decoration: none;
      display: block;
      line-height: 1.6;
      padding-right: 15px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    &-more {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $add-color-2;
      text-align: center;
      transition: all 0.35s;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition-delay: 0.15s;
      pointer-events: none;
    }
    &:nth-of-type(1) {
      [class*="-img"] {
        margin-top: 85px;
      }
    }
    &:nth-of-type(2) {
      [class*="-img"] {
        margin-top: 160px;
      }
    }
    &:nth-of-type(3) {
      [class*="-img"] {
        margin-top: 80px;
      }
    }
    &:nth-of-type(4) {
      [class*="-img"] {
        margin-top: 155px;
      }
    }
    &:nth-of-type(5) {
      [class*="-img"] {
        margin-top: 50px;
      }
    }
    &:nth-of-type(6) {
      [class*="-img"] {
        margin-top: 95px;
      }
    }
    &:nth-of-type(7) {
      [class*="-img"] {
        margin-top: 25px;
      }
    }
    &:nth-of-type(8) {
      [class*="-img"] {
        margin-top: 90px;
      }
    }
    &:hover {
      [class*="-img"] {
        margin-top: 160px;
        // transition-delay: 0.5s;
        &::after {
          background: $add-color-2;
        }
      }
      [class*="-more"] {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      [class*="-line1"], [class*="-line3"] {
        width: 100%;
      }
      [class*="-line2"] {
        height: 100%;
      }
      [class*="-line4"] {
        height: 70px;
      }
      [class*="-line5"] {
        height: 137px;
      }
      [class*="-line1"] {
        transition-delay: 0s;
      }
      [class*="-line2"] {
        transition-delay: 0.15s;
      }
      [class*="-line3"] {
        transition-delay: 0.3s;
      }
      [class*="-line4"] {
        transition-delay: 0.45s;
      }
      [class*="-line5"] {
        transition-delay: 0.6s;
      }
    }
  }
  &__footer {
    display: flex;
    white-space: nowrap;
    &>div {
      padding-left: 142px;
      &+div {
        padding-left: 225px;
      }
    }
  }
  &__row {
    width: calc(100% - 40px);
    border: 5px solid transparent;
    margin-left: 40px;
    margin-bottom: 30px;
    position: relative;
    padding: 57px 45px 50px 90px;
    font-weight: 400;
    font-size: 14px;
    color: rgba($color-white,.5);
    min-height: 290px;
    &-img {
      transition: all .35s;
      color: $add-color-1;
      font-size: 90px;
      position: absolute;
      left: -44px;
      top: 57px;
      i {
        display: block;
        @include neon($add-color-1,.5,text);
        &.icon-service-5 {
          font-size: 69px;
        }
      }
    }
    p {
      line-height: 1.6;
      margin-bottom: 13px;
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      font-size: 18px;
      font-weight: bold;
      position: relative;
      margin-bottom: 16px;
      padding-bottom: 16px;
      a {
        color: $color-white;
        display: block;
        line-height: 1.6;
        text-decoration: none;
        &:hover {
          color: $add-color-2;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 1px;
        background: $add-color-1;
      }
    }
    &-more {
      text-transform: uppercase;
      text-decoration: none;
      color: rgba($color-white,.2);
      font-weight: bold;
      &:hover {
        @include neon($add-color-2,1,text)
      }
    }
    &-numbers {
      display: flex;
      font-size: 12px;
      align-items: center;
      strong {
        display: block;
        line-height: 1;
        font-size: 28px;
        text-transform: uppercase;
        color: $add-color-2;
      }
      &>div {
        &+div {
          margin-left: 11px;
        }
      }
    }
    [class*="-line"] {
      position: absolute;
      background: #1e1e1e;
      transition: all 0.35s;
    }
    [class*="-line1"], [class*="-line3"] {
      height: 5px;
      left: -5px;
      right: -5px;
    }
    [class*="-line2"], [class*="-line4"], [class*="-line5"] {
      width: 5px;
      top: -5px;
      bottom: -5px;
    }
    [class*="-line1"] {
      top: -5px;
    }
    [class*="-line3"] {
      bottom: -5px;
    }
    [class*="-line2"] {
      right: -5px;
    }
    [class*="-line4"] {
      left: -5px;
      top: inherit;
      height: 106px;
    }
    [class*="-line5"] {
      left: -5px;
      height: 23px;
    }
    &:hover {
      [class*="-line"] {
        background: $add-color-2;
      }
      .services__row-more {
        color: $add-color-2;
      }
    }
  }
}

.projects {
  padding-top: 215px;
  padding-bottom: 190px;
  min-height: inherit;
  &::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%231C1C1C' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
  }
  &__nav {
    margin: 0 0 145px 21px;
    padding: 0;
    font-size: 0;
    &-item {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      margin: 0 0 20px 0;
      list-style: none;
      &+& {
        margin-left: 10px;
      }
    }
    &-link {
      text-decoration: none;
      color: #696969;
      display: block;
      height: 74px;
      line-height: 66px;
      white-space: normal;
      min-width: 146px;
      text-align: center;
      padding: 0 35px;
      border: 4px solid transparent;
      &.active {
        color: $color-white;
        border-color: $add-color-1;
        @include neon($add-color-1,.1);
      }
    }
  }
  &__block {
    margin: 0;
    transition: all 0.35s;
    &-wrapper {
      display: flex;
    }
    &-text {
      padding-left: 125px;
      padding-right: 15px;
      color: $color-white;
      width: 476px;
      flex-shrink: 0;
      transition: all 0.35s;
      opacity: 1;
      visibility: visible;
      overflow: hidden;
    }
    &-title {
      font-size: 60px;
      line-height: 1.3;
      color: $add-color-2;
      margin-bottom: 40px;
    }
    &-description {
      margin-bottom: 65px;
      font-size: 24px;
    }
    &-img {
      flex-grow: 1;
      transition: all 0.35s;
      img {
        width: 937px;
        height: 787px;
        object-fit: cover;
        transition: all 0.35s;
      }
    }
    &:not(.slick-current) {
      .projects__block {
        &-text {
          opacity: 0;
          visibility: hidden;
          width: 380px;
        }
        &-img {
          background: $color-black;
          img {
            width: 100%;
            filter: grayscale(1);
            opacity: 0.2;
          }
        }
      }
      .container {
        max-width: inherit;
      }
    }
  }
  &__carousel {
    height: 787px;
    overflow: hidden;
    .slick-arrow {
      width: 108px;
      height: 108px;
      font-size: 0;
      z-index: 10;
      font-weight: 400;
      transition: all 0.35s;
      &::before {
        font-family: $font-icomoon;
        color: $add-color-1;
        font-size: 108px;
        @include neon($add-color-1,.2,text);
        transition: all 0.35s;
      }
      &.slick-disabled {
        cursor: default;
      }
      &:not(.slick-disabled) {
        &:hover {
          &::before {
            @include neon($add-color-1,1,text);
          }
        }
      }
      // body.is-active & {
      //   opacity: 0;
      //   visibility: hidden;
      // }
    }
    .slick-prev {
      left: 135px;
      &::before {
        content: '\1f448';
      }
    }
    .slick-next {
      right: 135px;
      &::before {
        content: '\1f449';
      }
    }
  }
  &__btn {
    position: absolute;
    bottom: 200px;
    left: 112px;
  }
}

.tab-content {
  position: relative;
  z-index: 15;
  &>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden; 
  }
  &>.active {
    display: block;
    height: auto;  
  }
}

.achievements {
  padding-top: 285px;
  padding-bottom: 180px;
  min-height: inherit;
  background-color: #1C1C1C;
  &::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
    background-size: inherit;
    background-position: bottom center;
  }
  &::after {
    background: repeating-linear-gradient(90deg,rgba($color-white,.1) 0px,rgba($color-white,.1) 1px,rgba($color-black,0) 0px,rgba($color-black,0) 359px);
    background-position: 50% 100%;
    background-size: 359px 100%;
    mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
    mask-position: bottom center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    padding-left: 64px;
    padding-top: 90px;
    font-size: 24px;
    color: $color-white;
    max-width: 350px;
    &-number {
      position: relative;
      font-size: 60px;
      line-height: 1.3;
      color: transparent;
      margin-left: -60px;
      margin-bottom: 10px;
      -webkit-text-stroke: 4px $add-color-1;
      @include neon($add-color-1,.2,text);
      span {
        font-size: 80px;
        display: inline-block;
        margin-right: 17px;
      }
      &::before {
        content: attr(data-shadow);
        position: absolute;
        font-size: 200px;
        line-height: 1.2;
        -webkit-text-stroke: 0;
        color: $color-white;
        opacity: 0.03;
        z-index: -1;
        text-shadow: none;
        top: -90px;
        left: -8px;
      }
    }
    &-text {
      line-height: 1.3;
      margin-left: -15px;
      max-width: 100%;
    }
    &::first-child {
      max-width: 270px;
      margin-top: 38px;
    }
    &:nth-of-type(2) {
      margin-top: 112px;
      [class*="-number"] {
        font-size: 80px;
      }
    }
    &:nth-of-type(3) {
      margin-top: -60px;
      padding-top: 60px;
      [class*="-number"] {
        font-size: 120px;
        &::before {
          top: -45px;
          left: -20px;
        }
      }
    }
  }
}

.clients {
  padding-top: 255px;
  padding-bottom: 295px;
  background-color: #1c1c1c;
  &::after, &::before {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__block {
    width: 25%;
    margin-bottom: 90px;
    img {
      margin: 0 auto;
      width: 100%;
      display: block;
      height: 120px;
      object-fit: scale-down;
      filter: drop-shadow(0 0 25px rgba($add-color-1,1));
    }
    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}

.request {
  min-height: inherit;
  padding-top: 165px;
  padding-bottom: 125px;
  background-color: #1c1c1c;
  &::before {
    background-size: inherit;
    background-position: top center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
  }
  &::after {
    background: repeating-linear-gradient(90deg,rgba($color-white,.1) 0px,rgba($color-white,.1) 1px,rgba($color-black,0) 0px,rgba($color-black,0) 359px);
    background-position: 50% 100%;
    background-size: 359px 100%;
    mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4647' height='2000' fill='none' viewBox='0 0 4647 2000'%3E%3Cpath fill='%23171717' d='M4647 1000c0 552.3-1040.3 1000-2323.5 1000S0 1552.3 0 1000 1040.3 0 2323.5 0 4647 447.7 4647 1000z'/%3E%3C/svg%3E");
    mask-position: top center;
  }

  &__block {
    margin: 0 45px 0 70px;
    border: 5px solid $add-color-2;
    padding: 127px 92px 85px 140px;
    color: $color-white;
    display: flex;
    position: relative;
    
    p {
      font-size: 30px;
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: 55px;
      }
    }
    &-icon {
      height: 210px;
      width: 145px;
      text-align: center;
      position: absolute;
      // background: rgba(pink,.2);
      left: -74px;
      margin-top: -30px;
      color: $add-color-1;
      font-size: 136px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include neon($add-color-1,0.5,text);
      &::before {
        content: '';
        width: 10px;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: #171717;
        left: 50%;
        transform: translateX(-50%);
      }
      i {
        position: relative;
        z-index: 3;
      }
    }
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 5px rgba($add-color-1,0.1), 0 0 30px rgba($add-color-1,0.1), 0 0 45px rgba($add-color-1,0.1), 0 0 65px rgba($add-color-1,0.1), 0 0 85px rgba($add-color-1,0.1);
  }
  to {
    text-shadow: 0 0 5px rgba($add-color-1,0.4), 0 0 30px rgba($add-color-1,0.4), 0 0 45px rgba($add-color-1,0.4), 0 0 65px rgba($add-color-1,0.4), 0 0 85px rgba($add-color-1,0.4);
  }
}

.modal {
  &__close {
    position: absolute;
    position: fixed;
    z-index: 50;
    right: 59px;
    top: 59px;
    border-radius: 50%;
    border: 4px solid $add-color-1;
    text-align: center;
    width: 148px;
    height: 148px;
    overflow: hidden;
    font-size: 0;
    transition: background 0.35s, box-shadow 0.35s;
    &::after {
      content: '\1f5d9';
      font-family: $font-icomoon;
      color: $add-color-1;
      font-size: 120px;
      font-weight: 400;
      position: absolute;
      left: 50%;
      top: 50%;
      transform-origin: 50%;
      transition: all 0.35s;
      opacity: 1;
      visibility: visible;
      color: $add-color-1;
      transform: translate(-50%,-50%) rotate(0deg);
    }
    &:hover {
      background: $add-color-1;
      @include neon($add-color-1);
      &::after {
        color: $color-white;
      }
    }
  }
  &__wrapper {
    position: relative;
    margin: 10px auto;
    max-width: 872px;
    background: #1b1b1b;
    border-radius: 6px;
    padding: 100px 50px 130px 50px;
    overflow: hidden;
  }
  &__container {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    .mfp-ready & {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
  &__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -1.08387px;
    color: $color-white;
    text-align: center;
    margin-bottom: 55px;
  }
  &__form {
    max-width: 450px;
    margin: 0 auto;
  }
  &__success {
    text-align: center;
    color: rgba($color-white,.8);
    font-size: 14px;
    font-weight: 400;
    .h2 {
      color: $color-white;
      font-size: 42px;
      margin-bottom: 14px;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .icon-checkmark {
      font-size: 130px;
      color: transparent;
      margin: 0 auto 44px;
      display: block;
      -webkit-text-stroke: 4px $add-color-2;
    }
  }
}

.mfp-bg {
  background: #171717;
  opacity: 1;
}

.contacts {
  min-height: inherit;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
    &>div {
      margin-right: 115px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__block {
    margin-bottom: 25px;
    &-title {
      color: $color-white;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  &__links {
    white-space: nowrap;
    a {
      display: inline-block;
      margin-right: 10px;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      border: 4px solid $add-color-1;
      text-decoration: none;
      color: transparent;
      -webkit-text-stroke: 1px $add-color-1;
      text-align: center;
      position: relative;
      font-size: 24px;
      @include neon($add-color-1,0.05);
      i {
        @include neon($add-color-1,0.5,text);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: text-shadow 0.35s;
        &::before {
          color: transparent;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        box-shadow: none;
        i {
          text-shadow: none;
        }
      }
    }
    &--add2 {
      a {
        border-color: $add-color-2;
        -webkit-text-stroke-color: $add-color-2;
        @include neon($add-color-2,.05);
        i {
          @include neon($add-color-2,0.5,text);
        }
      }
    }
  }
}

.one-service {
  height: auto;
  min-height: inherit;
  &__thumb {
    margin-bottom: 65px;
    img {
      display: block;
    }
  }
  &__content {
    font-weight: 400;
    font-size: 20px;
    max-width: 653px;
    margin: 0 auto;
    p {
      line-height: 1.6;
      &:first-child {
        &:first-letter {
          font-size: 60px;
          font-weight: bold;
          line-height: 1.3;
          color: $add-color-1;
          float: left;
          margin-right: 12px;
          margin-bottom: -20px;
        }
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}