/* buttons */

button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}

.btn {
  display: inline-block;
  height: 68px;
  line-height: 60px;
  color: $color-white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border: 4px solid $add-color-1;
  text-align: center;
  min-width: 257px;
  border-radius: 50px;
  font-family: $font-ubuntu;
  padding: 0 25px;
  transition: background 0.35s, box-shadow 0.35s, color 0.35s, border 0.35s;
  &:hover {
    color: $color-white;
    background: $add-color-1;
    @include neon($add-color-1);
  }
  &:active, &:focus {
    color: $color-white;
  }
  &--bg {
    background: $add-color-1;
    &:hover {
      background: transparent;
    }
  }
  &--neon {
    @include neon($add-color-1);
    &:hover {
      @include neon($add-color-1,0);
    }
  }

  &--add2 {
    border-color: $add-color-2;
    &:hover {
      background-color: $add-color-2;
      @include neon($add-color-2);
    }
    &[class*="--bg"] {
      background: $add-color-2;
      &:hover {
        background: transparent;
      }
    }
    &[class*="--neon"] {
      @include neon($add-color-2);
      &:hover {
        @include neon($add-color-2,0);
      }
    }
  }
  &--1-service {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
  &--block {
    display: block;
    width: 100%;
  }
}