/* forms */

.form {
  &__group {
    margin-bottom: 30px;
  }
  &__label {
    display: block;
    margin: 0 0 9px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $add-color-2;
  }
  &__field {
    display: block;
    height: 68px;
    border: 2px solid transparent;
    border-radius: 35px;
    background: #171717;
    color: $color-white;
    font-weight: 400;
    font-family: $font-montserrat;
    width: 100%;
    padding: 0 28px;
    font-size: 16px;
    transition: border 0.35s;
    &:focus {
      outline: none;
      border-color: $add-color-2;
    }
  }
  &__checkbox {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 17px;
    &-span {
      position: absolute;
      height: 26px;
      width: 26px;
      background: #171717;
      border-radius: 6px;
      border: 2px solid transparent;
      left: 0;
      top: 0;
      overflow: hidden;
    }
    &-label {
      padding-left: 37px;
      line-height: 1.6;
      margin: 0;
      padding-top: 3px;
      cursor: pointer;
      a {
        color: rgba($color-white,.4);
        &:hover {
          color: $add-color-2;
        }
      }
    }
    &-input {
      display: none;
      &~[class*="-span"] {
        &::before {
          color: $color-white;
          content: '\1f5f8';
          font-family: $font-icomoon;
          position: absolute;
          left: 5px;
          top: 4px;
          opacity: 0;
          line-height: 1;
          transform: translateY(-5px);
          transition-delay: 0s;
        }
      }
      &:checked {
        &~[class*="-span"] {
          border-color: $add-color-2;
          &::before {
            transition: all 0.35s;
            transition-delay: 0s;
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }
}

textarea.form__field {
  height: 153px;
  resize: none;
  padding: 28px;
}