/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #171717;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-weight: bold;
  font-size: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    background: repeating-linear-gradient(90deg,rgba($color-white,.1) 0px,rgba($color-white,.1) 1px,rgba($color-black,0) 0px,rgba($color-black,0) 359px);
    background-position: 50% 100%;
    background-size: 359px 100%;
  }
  &::after {
    content: 'Crabs';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    font-size: 450px;
    line-height: 549px;
    font-weight: bold;
    opacity: 0.06;
    line-height: 0;
    transform: translate(-270px,312px);
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    li {
      padding-right: 330px;
      position: relative;
      z-index: 5;
      &::after {
        content: '';
        width: 288px;
        height: 4px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $add-color-1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s;
        @include neon($add-color-1, 1);
      }
      &>a, &>span {
        display: inline-block;
        color: $color-white;
        text-decoration: none;
        transition: all 0.35s;
        -webkit-text-stroke: 4px transparent;
      }
      &>a {
        &:hover {
          color: transparent;
          -webkit-text-stroke: 4px $add-color-1;
          @include neon($add-color-1, 0.2, text);
        }
      }
      &.active {
        &::after {
          opacity: 1;
          visibility: visible;
        }
        &>a, &>span {
          color: transparent;
          -webkit-text-stroke: 4px $add-color-1;
          @include neon($add-color-1, 0.2, text);
        }
      }
    }
  }
}