/* base */
*, *:before, *:after {
  box-sizing: border-box;
}

// Basic Styles
html {
  font-size: inherit;
  line-height: 1.3;
  font-size: 16px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

body {
  // background-color: alpha(var(--color-primary), 1);
  background: $primary-color;
  font-size: 20px;
  font-family: $font-montserrat;
  font-weight: 700;
  color: rgba($color-white,.5);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  &.is-active {
    // overflow: hidden;
    // padding-right: 17px;
    // position: fixed;
    overflow-y: scroll;
    .section__container {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.body {
  &__social {
    position: fixed;
    z-index: 25;
    left: 127px;
    top: calc(100vh - 185px - 185px);
    // bottom: 185px;
    font-size: 17px;  
    a {
      text-align: center;
      display: block;
      text-decoration: none;
      color: $color-white;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        display: block;
        &::before {
          color: $color-white;
        }
      }
      &:hover {
        color: $add-color-1;
        @include neon($add-color-1, 1, text);
      }
    }
  }
  &__up {
    position: fixed;
    right: 95px;
    top: 50%;
    transform: translateY(-50%);
    width: 76px;
    height: 76px;
    line-height: 74px;
    border-radius: 50%;
    border: 2px solid $add-color-1;
    color: $color-white;
    text-align: center;
    z-index: 15;
    transition: all 0.35s;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    font-weight: 400;
    transition: all 0.35s;
    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
    &:hover {
      background: $add-color-1;
      @include neon($add-color-1);
    }
    &::before {
      content: '\1f53a';
      font-family: $font-icomoon;
      color: $color-white;
      font-size: 30px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}

//  Typography
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 15px 0;
}
.h1, h1 {
  font-size: 21px;
  line-height: 1.05;
  letter-spacing: -1px;
  margin-bottom: 25px;
}
.h2, h2 {
  font-size: 18px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.h3, h3 {
  font-size: 16px;
  line-height: 1.38;
}
.h4, h4 {
  font-size: 14px;
  line-height: 1.38;
}
.h5, h5 {
  font-size: 13px;
}
.h6, h6 {
  font-size: 12px;
}

small, .small {
  font-size: 12px;
  line-height: 1.2;
}

p {
  line-height: 1.7;
  margin: 0 0 38px 0;
}

em, i, .em, .i {
  font-style: italic;
}

strong, b, .strong, .b {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

// Links
a, .link {
  color: $link-color;
  text-decoration: underline;
  outline: none;
  transition: all 0.35s;
  &:hover, &:focus, &:active {
    color: $link-color;
    text-decoration: none;
    outline: none;
  }
}

a.link {
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

img, .img {
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  // width: 1280px;
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
}

/* text align */
.text {
  &-center, &--center {
    text-align: center !important;
  }
  &-left, &--left {
    text-align: left !important;
  }
  &-right, &--right {
    text-align: right !important;
  }
}

/* loader */
.loader {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  &>div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

/* img */
.img {
  &-responsive, &--responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }
  &-round, &--round {
    border-radius: 50%;
  }
}

/* section */
.section {
  padding: 50px 0;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    background: repeating-linear-gradient(90deg,rgba($color-white,.1) 0px,rgba($color-white,.1) 1px,rgba($color-black,0) 0px,rgba($color-black,0) 359px);
    background-position: 50% 100%;
    background-size: 359px 100%;
  }
  &::after {
    z-index: 7;
    background: none bottom center no-repeat;
  }
  &-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -130px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 50%;
    border: 2px solid $add-color-2;
    color: $color-white;
    text-align: center;
    z-index: 15;
    font-size: 0;
    font-weight: 400;
    transition: background 0.35s, box-shadow 0.35s;
    opacity: 0;
    visibility: hidden;
    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
    &:hover {
      background: $add-color-2;
      @include neon($add-color-2);
    }
    &::before {
      content: '\1f53b';
      font-family: $font-icomoon;
      color: $color-white;
      font-size: 30px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
    &>span {
      width: 1px;
      left: 50%;
      background: $add-color-2;
      top: 100%;
      height: 160px;
      position: absolute;
      pointer-events: none;
      &>span {
        top: 100%;
        transform: translate(-50%,-50%);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $add-color-2;
        span {
          position: absolute;
          box-shadow: 0 0 0 4px rgba($add-color-2,.4);
          width: 9px;
          height: 9px;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
          border-radius: 50%;
        }
      }
    }
  }
  &__text {
    position: absolute;
    left: 50%;
    z-index: -1;
    font-size: 450px;
    line-height: 549px;
    font-weight: bold;
    opacity: 0.06;
    line-height: 0;
    &--1 {
      transform: translate(-270px,-95px);
    }
    &--2 {
      left: inherit;
      transform: translate(23px,177px);
    }
    &--3 {
      left: inherit;
      transform: translate(-166px,327px);
    }
    &--4 {
      left: inherit;
      transform: translate(-124px,20px);
    }
    &--5 {
      left: inherit;
      transform: translate(-50px,10px);
    }
    &--6 {
      left: inherit;
      transform: translate(-165px,-10px);
    }
    &--7 {
      left: inherit;
      transform: translate(-455px,0px);
    }
    &--8 {
      left: inherit;
      transform: translate(-300px,15px);
    }
  }
  &__container {
    position: relative;
    z-index: 15;
  }
  &__header {
    color: $color-white;
    padding-left: 56px;
    margin-bottom: 60px;
    &>.h1, &>h1, &>.h2, &>h2 {
      font-weight: bold;
      font-size: 60px;
      line-height: 1.3;
      display: block;
      position: relative;
      color: $color-white;
      margin-bottom: 0;
      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='26' viewBox='0 0 23 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M7 0H23L19 26H7V0Z' fill='%23AF38F8'/%3E%3Cpath d='M0 6H15L13 20H0V6Z' fill='%23AF38F8'/%3E%3C/svg%3E");
        width: 23px;
        height: 26px;
        content: '';
        position: absolute;
        margin-left: -56px;
        margin-top: 26px;
      }
    }
    small {
      font-size: 20px;
      &:first-child {
        display: block;
        font-weight: 400;
        line-height: 1.6;
      }
    }
    &--projects {
      margin-bottom: 105px;
      div {
        font-size: 56px;
      }
    }
    &--achievements {
      margin-bottom: 145px;
    }
    &--clients {
      margin-bottom: 85px;
    }
    &--big {
      margin-bottom: 110px;
      &>.h1, &>h1, &>.h2, &>h2 {
        font-size: 80px;
        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='36' fill='none' viewBox='0 0 32 36'%3E%3Cpath fill='%23FF1F8A' d='M10 0h22l-5.5 36H10V0z' opacity='.2'/%3E%3Cpath stroke='%23FF1F8A' stroke-width='4' d='M4 9H2v18h16.7l.3-1.7 2-14 .3-2.3H4z'/%3E%3C/svg%3E");
          background-size: 32px 36px;
          width: 32px;
          height: 36px;
          margin-top: 35px;
        }
      }
    }
    &--one-service {
      padding-left: 170px;
      margin-bottom: 90px;
      &>.h1, &>h1, &>.h2, &>h2 {
        &::before {
          display: none;
        }
        [class*="icon-"] {
          color: $add-color-1;
          font-size: 78px;
          position: absolute;
          left: -170px;
          top: 50%;
          transform: translateY(-50%);
        }
        i.icon-service-5 {
          font-size: 59px;
        }
      }
    }
  }
  &--top {
    padding-top: 235px;
    padding-bottom: 200px;
  }
}

.container {
  .section {
    min-width: inherit;
  }
}

ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}

/* bg */
.bg {
  &--pink {
    background-color: pink !important;
  }
  &--white {
    background-color: $color-white !important;
  }
  &--black {
    background-color: $color-black !important;
  }
}

/* no padding no margin */
.no {
  &--p {
    padding: 0 !important;
    &-top {
      padding-top: 0 !important;
    }
    &-bottom {
      padding-bottom: 0 !important;
    }
    &-left {
      padding-left: 0 !important;
    }
    &-right {
      padding-right: 0 !important;
    }
  }
  &--m {
    margin: 0 !important;
    &-top {
      margin-top: 0 !important;
    }
    &-bottom {
      margin-bottom: 0 !important;
    }
    &-left {
      margin-left: 0 !important;
    }
    &-right {
      margin-right: 0 !important;
    }
  }
  &--b {
    background: none !important;
    &-image {
      background-image: none !important;
    }
  }
  &--border {
    border: 0 !important;
  }
}

/* icons */
.icon {
  display: inline-block;
  // &--sprite
  //   @include sprite($img-name)
}

/* color */
.color {
  &--black {
    color: $color-black !important;
  }
  &--white {
    color: $color-white !important;
  }
  &--add1 {
    color: $add-color-1 !important;
  }
  &--add2 {
    color: $add-color-2 !important;
  }
}

.fade {
  transition: opacity .15s linear;
  &:not(.show) {
    opacity: 0;
  }
}