// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #171717;

$link-color: #AF38F8;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;

$add-color-1: #FF1F8A;
$add-color-2: #AF38F8;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-icomoon: 'icomoon';
$font-montserrat: 'Montserrat', $primary-font;
